<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Metallica</title>
    <link rel="stylesheet" href="{% static 'songpicker/pickStyle.css' %}"/>
</head>
<body>

<div id="container">

    <div id="songTitle">
        {{ song.song_name }}

    </div>
    <div id="songAlbum">

        {{ song.album }}
    </div>
    <iframe width="700" height="500" src="{{ embed }}" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p><a href="/metallica/"><input type="submit" value="back" id="backButton"></a></p>

</div>
<div id="footer">
    Metallica Songs &copy;

</div>

</body>
</html>